body > div.body_wrap > div > header > div.top_panel_title.sc_layouts_row.sc_layouts_row_type_normal.scheme_dark{
    background-color: cadetblue !important;
    
    div > div > div > div > div.sc_layouts_title_breadcrumbs > div > span.breadcrumbs_item.current{
        color: black !important;
    }
    div > div > div > div > div.sc_layouts_title_breadcrumbs > div > a{
        &:hover{
            color: black !important;
        }
    }
}